Repository johanhellman/accordant: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-lint, prettier, frontend-lint

ruff-format:
  name: ruff format
  entry: uv run ruff format
  language: system
  pass_filenames: true

ruff-lint:
  name: ruff lint
  entry: uv run ruff check --fix
  language: system
  pass_filenames: true

prettier:
  name: prettier format
  entry: bash -c 'cd frontend && npm run format'
  language: system
  pass_filenames: false

frontend-lint:
  name: frontend lint
  entry: bash -c 'cd frontend && npm run lint:fix'
  language: system
  pass_filenames: false

fix(auth): implement join organization flow via invite code
  backend/main.py
Due: ruff-format, ruff-lint

fix(frontend): resolve CI test failures and crashes
  frontend/src/api.test.js
  frontend/src/components/ChatInterface.jsx
  frontend/src/components/ChatInterface.test.jsx
Due: prettier, frontend-lint

fix(frontend): invitation expiry and accessibility improvements
  frontend/src/components/Login.jsx
  frontend/src/components/OrgSettings.jsx
  frontend/src/components/OrganizationManagement.jsx
  frontend/src/components/UserManagement.jsx
  frontend/src/components/UserManagement.test.jsx
  frontend/src/components/UserSettings.jsx
Due: prettier, frontend-lint

feat(mobile): Refactor mobile UX and New Session flow
  frontend/src/App.css
  frontend/src/components/ChatInterface.jsx
  frontend/src/components/ChatInterface.test.jsx
  frontend/src/components/Layout.jsx
  frontend/src/components/Sidebar.jsx
  frontend/src/pages/ChatPage.jsx
Due: prettier, frontend-lint

feat: Add architecture review for Council Packs and update proposal to define hybrid storage, moving custom packs and active configurations to the tenant database.
  docs/architecture/council-packs.md
  docs/architecture/reviews/council-packs-critique.md
Due: none

feat: implement Council Packs backend
  backend/config/packs.py
  backend/config_routes.py
  backend/council.py
  backend/database.py
  backend/main.py
  backend/models.py
  backend/streaming.py
  backend/tenant_migrations.py
  docs/adr/ADR-026-configuration-packs.md
  tests/test_config_routes.py
  tests/test_packs.py
  tests/verify_migration_v2.py
  tests/verify_packs_flow.py
Due: ruff-format, ruff-lint

feat: add strategy endpoint and update docs
  backend/config_routes.py
  docs/architecture/council-packs.md
  tests/test_config_routes.py
Due: ruff-format, ruff-lint

docs: add consensus strategy design and ADR-027
  docs/adr/ADR-027-consensus-strategy-management.md
  docs/architecture/consensus-strategy-management.md
Due: none

docs: standardize consensus strategy terminology
  docs/architecture/consensus-strategy-management.md
Due: none

feat: implement consensus strategy management backend
  backend/config/consensus_strategies.py
  backend/config_routes.py
  backend/consensus_service.py
  backend/council.py
  backend/models.py
  backend/tenant_migrations.py
  tests/test_consensus_strategies.py
  tests/verify_strategy_management.py
Due: ruff-format, ruff-lint

fix: make tenant migrations idempotent
  backend/tenant_migrations.py
Due: ruff-format, ruff-lint

feat: Implement Frontend for Packs & Strategies + UX Refinement
  backend/config/packs.py
  data/defaults/packs/creative_storm.yaml
  data/defaults/packs/standard_council.yaml
  docs/design/ux_proposal_packs_strategies.md
  docs/guides/USER_MANUAL.md
  frontend/src/App.jsx
  frontend/src/api.js
  frontend/src/components/Layout.jsx
  frontend/src/components/NewSessionModal.css
  frontend/src/components/NewSessionModal.jsx
  frontend/src/components/PackGallery.css
  frontend/src/components/PackGallery.jsx
  frontend/src/components/PersonalityManager.jsx
  frontend/src/components/PromptEditor.jsx
  frontend/src/components/Sidebar.jsx
  frontend/src/components/StrategyManager.css
  frontend/src/components/StrategyManager.jsx
  frontend/src/pages/ConfigPacksPage.jsx
  frontend/src/pages/ConfigStrategiesPage.jsx
  frontend/src/pages/SystemPromptsPage.jsx
  tests/test_config_routes.py
Due: ruff-format, ruff-lint, prettier, frontend-lint

fix: Ensure opaque background for New Session Modal
  frontend/src/components/NewSessionModal.css
Due: prettier, frontend-lint

feat: Improve Chat UX for Packs and Strategies
  frontend/src/components/ChatInterface.css
  frontend/src/components/ChatInterface.jsx
  frontend/src/pages/ChatPage.jsx
Due: prettier, frontend-lint

fix(tests): resolve AttributeError in critical path backend tests
  tests/test_critical_paths_skeleton.py
Due: ruff-format, ruff-lint

refactor: backend test stabilization and frontend security hardening
  backend/config/packs.py
  frontend/src/App.jsx
  frontend/src/api.test.js
  frontend/src/components/ContextualHelp.jsx
  frontend/src/components/DocViewer.jsx
  frontend/src/components/LeagueTable.jsx
  frontend/src/components/OrganizationManagement.jsx
  frontend/src/components/PersonalityEditor.jsx
  frontend/src/components/PersonalityManager.jsx
  frontend/src/components/PersonalityPromptEditor.jsx
  frontend/src/components/Stage1.jsx
  frontend/src/components/Stage2.jsx
  frontend/src/components/StrategyManager.jsx
  frontend/src/components/SystemPromptsEditor.jsx
  frontend/src/components/VotingHistory.jsx
  frontend/src/pages/ChatPage.jsx
  tests/conftest.py
  tests/test_council_edge_cases.py
  tests/test_council_implementation.py
  tests/test_streaming.py
Due: ruff-format, ruff-lint, prettier, frontend-lint

test(backend): stabilize test suite and fix regressions
  backend/openrouter.py
  migrations/env.py
  migrations/versions/070567d38d4d_initial_system_schema.py
  migrations/versions/cb908ac0e6bd_drop_legacy_tables.py
  scripts/analyze_dependencies.py
  scripts/verify_architecture.py
  tests/conftest.py
  tests/test_fixes.py
  tests/test_integration.py
  tests/test_llm_service_retry.py
  tests/test_main.py
  tests/test_migrations.py
  tests/test_openrouter.py
  tests/test_openrouter_additional_edge_cases.py
  tests/test_openrouter_edge_cases.py
  tests/test_ranking_evolution.py
  tests/test_security_hardening.py
Due: ruff-format, ruff-lint

fix(test): correct mock patching in integration tests to use correct namespace
  tests/test_integration.py
Due: ruff-format, ruff-lint

fix(test): mock dependencies in streaming test (re-commit after format)
  tests/test_fixes.py
Due: ruff-format, ruff-lint

fix(logging): update python-json-logger import and remove datetime.utcnow
  backend/logging_config.py
Due: ruff-format, ruff-lint

Path conditions:
  ruff-format: any of: \.py$
  ruff-lint: any of: \.py$
  prettier: any of: ^frontend/
  frontend-lint: any of: ^frontend/
