Repository johanhellman/accordant: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-lint, prettier, frontend-lint

.pre-commit-config.yaml:

# Pre-commit hooks configuration (optional, non-blocking)
# 
# INSTALLATION (optional):
#   make install-pre-commit
#   OR: uv run pre-commit install
#
# USAGE:
#   - Hooks run automatically on git commit
#   - To skip hooks: git commit --no-verify
#   - To run manually: make run-pre-commit
#   - To skip specific hooks: SKIP=ruff,prettier git commit
#
# NOTE: These hooks are OPTIONAL and NON-BLOCKING.
# You can always skip them with --no-verify if needed.

repos:
  - repo: local
    hooks:
      # Backend hooks (using uv)
      - id: ruff-format
        name: ruff format
        entry: uv run ruff format
        language: system
        types: [python]
        pass_filenames: true

      - id: ruff-lint
        name: ruff lint
        entry: uv run ruff check --fix
        language: system
        types: [python]
        pass_filenames: true

      - id: alembic-check
        name: alembic check
        entry: uv run alembic check
        language: system
        pass_filenames: false
        always_run: true

      # Frontend hooks (using npm)
      - id: prettier
        name: prettier format
        entry: bash -c 'cd frontend && npm run format'
        language: system
        files: ^frontend/
        pass_filenames: false # npm run format handles globbing internal to the script usually, or we can pass files if script supports it. 
        # But 'npm run format' in package.json is "prettier --write ..."
        # Let's just let it run on the whole frontend dir for safety or use pre-commit's file passing if we change the command.
        # Simpler: just use the npm command.

      - id: frontend-lint
        name: frontend lint
        entry: bash -c 'cd frontend && npm run lint:fix'
        language: system
        files: ^frontend/
        pass_filenames: false

refactor: replace deprecated datetime.utcnow with timezone-aware now (re-commit after lint)
  backend/auth.py
  backend/invitations.py
  backend/main.py
  tests/test_invitations.py
  tests/test_ranking_service.py
Due: ruff-format, ruff-lint

refactor: migrate pydantic models to V2 syntax and fix auth regression
  backend/admin_routes.py
  backend/auth.py
  backend/config_routes.py
  backend/invitations.py
  backend/organizations.py
  backend/users.py
Due: ruff-format, ruff-lint

refactor: replace legacy sqlalchemy Query.get with Session.get
  tests/test_storage.py
Due: ruff-format, ruff-lint

fix: remove remaining pydantic .dict() usage in tests
  tests/test_critical_paths_skeleton.py
Due: ruff-format, ruff-lint

chore: migrate HTTP_422 deprecation and fix frontend vulnerabilities
  backend/main.py
  frontend/package-lock.json
Due: ruff-format, ruff-lint, prettier, frontend-lint

refactor(compose): update to multi-app architecture
  docker-compose.yml
Due: none

refactor(redis): migrate to infrastructure Redis service
  .env.example
  .gitmodules
  docker-compose.yml
Due: none

docs(redis): update README to reflect infrastructure Redis
  README.md
Due: none

security: add SETUP_COMPLETE.md to .gitignore to prevent committing secrets
  .gitignore
Due: none

docs(security): add security incident documentation
  SECURITY_INCIDENT.md
Due: none

chore: update xmarkdigest submodule to 7eb710c8
  docker-compose.yml
Due: none

docs: add production deployment and council functionality fixes documentation
  COUNCIL_FUNCTIONALITY_FIXES.md
  DEPLOYMENT_ISSUES_SUMMARY.md
  PRODUCTION_DEPLOYMENT_FIXES.md
  SEED_PERSONAS_README.md
  TWITTER_OAUTH_LOOP_ANALYSIS.md
Due: none

feat(scripts): add seed scripts for council personas and system prompts
  seed-personas-sql.py
  seed-personas.js
  seed-system-prompts-sql.py
Due: ruff-format, ruff-lint
