Repository johanhellman/accordant: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-lint, prettier, frontend-lint

ruff-format:
  name: ruff format
  entry: uv run ruff format
  language: system
  pass_filenames: true

ruff-lint:
  name: ruff lint
  entry: uv run ruff check --fix
  language: system
  pass_filenames: true

prettier:
  name: prettier format
  entry: bash -c 'cd frontend && npm run format'
  language: system
  pass_filenames: false

frontend-lint:
  name: frontend lint
  entry: bash -c 'cd frontend && npm run lint:fix'
  language: system
  pass_filenames: false

docs: update consensus strategy and fix ci failures
  .github/workflows/ci.yml
  backend/council.py
  backend/database.py
  backend/logging_config.py
  docs/architecture/CONSENSUS.md
  scripts/check_backend.sh
  tests/test_critical_paths_skeleton.py
  tests/test_org_routes.py
Due: ruff-format, ruff-lint

ci: fix pytest installation by moving to dependency-groups
  pyproject.toml
  scripts/check_backend.sh
  uv.lock
Due: none

ci: disable uv cache in frontend job
  .github/workflows/ci.yml
  docs/architecture/CONSENSUS.md
Due: none

ci: enforce strict tests with xfail for known issues
  docs/architecture/CONSENSUS.md
  scripts/check_backend.sh
  tests/test_critical_paths_skeleton.py
Due: ruff-format, ruff-lint

docs: formalize consensus prompts architecture
  data/defaults/consensus/balanced.md
  data/defaults/consensus/goal_seeking.md
  data/defaults/consensus/risk_averse.md
  docs/adr/ADR-024-strategic-consensus-attribution.md
  docs/adr/ADR_INDEX.md
  docs/architecture/CONSENSUS.md
  docs/guides/DEVELOPER.md
Due: none

feat: implement Strategic Consensus Mode
  .gitignore
  backend/config/prompts.py
  backend/consensus_service.py
  backend/council.py
  backend/main.py
  backend/models.py
  backend/schema.py
  backend/storage.py
  backend/voting_history.py
  docs/adr/ADR-024-strategic-consensus.md
  docs/guides/USER_MANUAL.md
  frontend/src/App.jsx
  frontend/src/api.js
  frontend/src/components/AdminDashboard.jsx
  frontend/src/components/ChatInterface.css
  frontend/src/components/ChatInterface.jsx
  frontend/src/components/Stage3.css
  frontend/src/components/Stage3.jsx
Due: ruff-format, ruff-lint, prettier, frontend-lint

fix: resolve duplicate ADR-024 files
  docs/adr/ADR-024-strategic-consensus-attribution.md
  docs/adr/ADR-024-strategic-consensus.md
Due: none

fix(ui): ensure consensus toggle is visible and prevent shrinking
  frontend/src/components/ChatInterface.css
  tests/test_critical_paths_skeleton.py
Due: ruff-format, ruff-lint, prettier, frontend-lint

fix(tests): resolve failing skeleton and query_model tests
  tests/test_critical_paths_skeleton.py
Due: ruff-format, ruff-lint

fix(db): ensure tables created before applying migrations
  backend/database.py
Due: ruff-format, ruff-lint

fix(backend): enable consensus mode in streaming endpoint
  backend/main.py
  backend/streaming.py
Due: ruff-format, ruff-lint

fix(backend): fix consensus toggle behavior and enable hot reload
  backend_debug.log
  start.sh
Due: none

chore: remove debug log
  backend_debug.log
Due: none

Refactor council execution logic to use shared generator
  backend/consensus_service.py
  backend/council.py
  backend/streaming.py
  tests/test_streaming_logic.py
Due: ruff-format, ruff-lint

Restore file logging and update documentation
  backend/logging_config.py
  docs/guides/DEVELOPER.md
Due: ruff-format, ruff-lint

refactor: Group voting history by conversation and turn, resolving personality IDs to names for structured output.
  backend/voting_history.py
Due: ruff-format, ruff-lint

feat: complete consensus dashboard implementation and persistence fix
  backend/config/prompts.py
  backend/voting_history.py
  docs/adr/ADR-025-consensus-dashboard-metrics.md
  docs/adr/ADR_INDEX.md
  docs/guides/DEVELOPER.md
  frontend/src/components/AdminDashboard.jsx
  frontend/src/components/VotingHistory.css
  frontend/src/components/VotingHistory.jsx
  tests/test_config_prompts.py
Due: ruff-format, ruff-lint, prettier, frontend-lint

refactor(frontend): implement react-router-dom architecture
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.jsx
  frontend/src/components/Layout.jsx
  frontend/src/pages/ChatPage.jsx
  frontend/src/pages/DashboardPage.jsx
  frontend/src/pages/DocPage.jsx
  frontend/src/pages/OrganizationsPage.jsx
  frontend/src/pages/PersonalitiesPage.jsx
  frontend/src/pages/SettingsPage.jsx
  frontend/src/pages/UserSettingsPage.jsx
  frontend/src/pages/UsersPage.jsx
Due: prettier, frontend-lint

fix(chat): ensure user messages are persisted and visible
  backend/streaming.py
  docs/architecture/council-packs.md
  frontend/src/components/ChatInterface.jsx
Due: ruff-format, ruff-lint, prettier, frontend-lint

docs: add design document for council packs
  docs/architecture/council-packs.md
Due: none

Path conditions:
  ruff-format: any of: \.py$
  ruff-lint: any of: \.py$
  prettier: any of: ^frontend/
  frontend-lint: any of: ^frontend/
